
@{
    ViewBag.Title = "Criar Atribuição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar Atribuição</h2>
@Html.ActionLink("Listar Atribuições", "Index") | @Html.ActionLink("Gerenciar Atribuições e Usuários", "ManageUserRoles")
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div>
        Role name
    </div>
    <p>
        @Html.TextBox("RoleName", "", new { @class = "form-control" })
    </p>
    <input type="submit" value="Criar" class="btn btn-success" />
    <input type="reset" value="Limpar" class="btn btn-warning" />
}


