@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Atribuições";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Atribuições</h2>
@Html.ActionLink("Criar Nova Atribuição", "Create") | @Html.ActionLink("Gerenciar Atribuições e Usuários", "ManageUserRoles")
<hr />
<table class="table table-hover">
    <tr>
        <th>Noma da Atribuição:</th>
        <th>Ações</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>
                @role.Name
            </td>
            <td>
                <span onclick="return confirm('Certeza que deseja deletar?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Deletar</a></span> |
                @Html.ActionLink("Editar", "Edit", new { roleName = @role.Name })
            </td>
        </tr>

    }
</table>
