@model IEnumerable<IFSolutions.Models.UsersRolesViewModel>
@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

<table class="table table-striped">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>

@foreach (var user in Model)
{
    <tr>
        <td>@user.User.FirstName</td>
        <td>@user.User.LastName</td>
        <td>@user.User.Email</td>
        <td>@user.RoleName</td>
        <td>@Html.ActionLink("Change Role", "ChangeRole", new { id = user.User.Id })</td>
    </tr>
}
</table>