@model IEnumerable<IFSolutions.Models.UsersRolesViewModel>
@{
    ViewBag.Title = "Listar Usuários";
}

<h2>Gerenciar Atribuições e Usuários</h2>
@Html.ActionLink("Criar Nova Atribuição", "Create") | @Html.ActionLink("Listar Atribuições", "Index")
<hr />
<form class="form-inline">
    <div class="form-group">
        <label for="userEmail" class="sr-only">Email do Usuário</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="Email Address" autocomplete="off" />
    </div>
    <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtrar
    </button>
</form>
<hr />
<table class="table table-striped">

    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Atribuição</th>
        <th>Ações</th>
    </tr>

@foreach (var user in Model)
{
    <tr>
        <td>@user.User.FirstName</td>
        <td>@user.User.LastName</td>
        <td>@user.User.Email</td>
        <td>@user.RoleName</td>
        <td>@Html.ActionLink("Mudar Atribuição", "ChangeRole", new { id = user.User.Id })</td>
    </tr>
}
</table>