@model IFSolutions.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="configDropDownMenu" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
             Settings
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            @if (Model.HasPassword)
            {
                <li role="presentation">@Html.ActionLink("Change your password", "ChangePassword")</li>
            }
        </ul>

    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User Info</div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td><strong>First Name:</strong></td>
                    <td>@ViewBag.UserFirstName</td>
                </tr>
                <tr>
                    <td><strong>Last Name:</strong></td>
                    <td>@ViewBag.UserLastName</td>
                </tr>
                <tr>
                    <td><strong>Campus:</strong></td>
                    <td>@ViewBag.UserCampus</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Statistics</div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">@ViewBag.PetitionsCount</span>
                    @Html.ActionLink("Petitions", "Index", "Petitions")
                </li>
                <li class="list-group-item">
                    <span class="badge">@ViewBag.SignaturesCount</span>
                    Signatures
                </li>
                <li class="list-group-item">
                    <span class="badge">@ViewBag.CommentsCount</span>
                    Comments
                </li>
            </ul>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dd><hr /></dd>
        <dt>Check role:</dt>
        <dd>
            @Html.ActionLink("Attribute now", "AttributeRole", "Manage")
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
    <hr />
    <h3>Roles for This User:</h3>
    <div style="background-color: lightgray; padding: 1em;">
        <ul>
            @foreach (string role in ViewBag.RolesForThisUser)
            {
                <li>
                    @role | @Html.ActionLink("Remove", "RemoveRole", "Manage",
                                new { RoleName = role },
                                new { @class = "btn btn-danger" }) 
                </li>
            }
        </ul>

    </div>
</div>
