@model IEnumerable<IFSolutions.Models.Campus>

@{
    ViewBag.Title = "Campi";
}

<h2>Campi</h2>

<p>
    @Html.ActionLink("Criar novo campus", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CampusID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CampusID }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.CampusID })
        </td>
    </tr>
}

</table>
