@model IEnumerable<IFSolutions.Models.Category>

@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Criar nova categoria", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
