@model IFSolutions.Models.Petition

@{
    ViewBag.Title = "Deletar Petição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar Petição</h2>

<h3>Tem certeza que deseja deletar essa petição?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSolved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            @Html.ActionLink("Voltar para Petições", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
