@model IEnumerable<IFSolutions.Models.Petition>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table cellpadding="5">
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        Title:
                    </td>
                    <td>
                        @item.Title
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        Description:
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        Campus:
                    </td>
                    <td>
                        @item.Campus.Description
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        Date Created:
                    </td>
                    <td>
                        @item.DateCreated
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        Solved:
                    </td>
                    @if (item.Solved)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                </tr>
                @if (item.Solved)
                {
                    <tr>
                        <td style="text-align: right; font-weight: bold">
                            Date Solved:
                        </td>
                        <td>
                            @item.DateSolved
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PetitionID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PetitionID })
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr />
}