@model IEnumerable<IFSolutions.Models.Petition>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="filterText">Filter</label>
        <input type="text" class="form-control" autocomplete="off" name="filterText" placeholder="Title" />
    </div>
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
    </button>
</form>
<hr />
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td style="text-align: right; font-weight: bold" class="col-md-2">
                        @Html.DisplayNameFor(p => p.FirstOrDefault().Title):
                    </td>
                    <td>
                        @item.Title
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        @Html.DisplayNameFor(p => p.FirstOrDefault().Description):
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        @Html.DisplayNameFor(p => p.FirstOrDefault().Campus.Description):
                    </td>
                    <td>
                        @item.Campus.Description
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        @Html.DisplayNameFor(p => p.FirstOrDefault().Signatures):
                    </td>
                    <td>
                        @item.Signatures.Count
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        @Html.DisplayNameFor(p => p.FirstOrDefault().Comments):
                    </td>
                    <td>
                        @item.Comments.Count
                    </td>
                </tr>
                @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                {
                    <tr>
                        <td style="text-align: right; font-weight: bold">
                            @Html.DisplayNameFor(p => p.FirstOrDefault().User.UserName):
                        </td>
                        <td>
                            @item.User.FirstName @item.User.LastName
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight: bold">
                            @Html.DisplayNameFor(p => p.FirstOrDefault().User.Email):
                        </td>
                        <td>
                            @item.User.Email
                        </td>
                    </tr>
                }
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        @Html.DisplayNameFor(p => p.FirstOrDefault().DateCreated):
                    </td>
                    <td>
                        @item.DateCreated
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; font-weight: bold">
                        @Html.DisplayNameFor(p => p.FirstOrDefault().Solved):
                    </td>
                    @if (item.Solved)
                    {
                        <td><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
                    }
                    else
                    {
                        <td><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
                    }
                </tr>
                @if (item.Solved)
                {
                    <tr>
                        <td style="text-align: right; font-weight: bold">
                            @Html.DisplayNameFor(p => p.FirstOrDefault().DateSolved):
                        </td>
                        <td>
                            @item.DateSolved
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.PetitionID })
                        }
                        @Html.ActionLink("Delete", "Delete", new { id = item.PetitionID })
                    </td>
                </tr>
            </table>
        </div>

    </div>
}