@model IEnumerable<IFSolutions.Models.Comment>
@using Microsoft.AspNet.Identity

<ul class="list-group">
    @foreach (var comment in Model)
    {
        <li class="list-group-item">
            <h5 class="list-group-item-heading" style="font-weight: bold">
                @comment.User.FirstName @comment.User.LastName (@comment.User.Campus.Description)
            </h5>
            <p style="font-size: 9pt">
                @comment.DateTime
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.GetUserId().Equals(comment.UserId, StringComparison.CurrentCultureIgnoreCase))
                    {
                        @Ajax.ActionLink("Delete", "_DeleteComment", new { commentID = comment.CommentID, petitionID = ViewBag.PetitionID },
                                new AjaxOptions() { UpdateTargetId = "comments" })
                    }
                }
            </p>
            <p class="list-group-item-text">
                @comment.Content
            </p>
        </li>
    }
</ul>
@if (User.Identity.IsAuthenticated)
{
    <hr />
    <div>
        <p>@User.Identity.Name says:</p>
        @using (Ajax.BeginForm("_CommentForm", "Explore", new AjaxOptions() { UpdateTargetId = "comments", OnSuccess = "onSuccess" },
            new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_CommentForm", new IFSolutions.Models.Comment() { PetitionID = ViewBag.PetitionID })
        }
    </div>
}

