@model IFSolutions.Models.Petition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Petition Details</h2>

<div>
    <h4>Petition</h4>
    <hr />
    <div class="panel panel-danger" style="padding: 0;">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                @Model.Title
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <strong>@Html.DisplayNameFor(p => p.Category.Description):</strong> @Html.DisplayFor(p => p.Category.Description)
                <br />
                <strong>@Html.DisplayNameFor(p => p.Campus.Description):</strong> @Html.DisplayFor(p => p.Campus.Description)
            </p>
            <hr />
            <p>
                @Html.DisplayFor(p => p.Description)
            </p>
            <hr />
            <p>
                <strong>Created by:</strong> @Html.DisplayFor(p => p.User.FirstName) @Html.DisplayFor(p => p.User.LastName)
            </p>
            <p>
                <strong>Signatures:</strong> @Html.DisplayFor(p => p.Signatures.Count)
                @if (!ViewBag.UserSigned)
                {
                    @Html.ActionLink("Sign it!", "SignPetition", new { petitionID = Model.PetitionID });
                }
                else
                {
                    @Html.ActionLink("Unsign it!", "UnsignPetition", new { petitionID = Model.PetitionID });
                }
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments</h3>
        </div>
        <div class="panel-body">
            <div>
                <p>@User.Identity.Name says:</p>
                <form method="post" class="form-group">
                    <div class="form-group">
                        @Html.Hidden("petitionID", Model.PetitionID)
                        <textarea name="commentContent" placeholder="Your comment" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Comment</button>
                </form>
            </div>
            <hr />
            <ul class="list-group">
                @foreach (var comment in Model.Comments.OrderBy(m => m.DateTime))
                {
                    <li class="list-group-item">
                        <h5 class="list-group-item-heading" style="font-weight: bold">
                            @comment.User.FirstName @comment.User.LastName (@comment.User.Campus.Description)
                        </h5>
                        <p style="font-size: 9pt">
                            @comment.DateTime
                        </p>
                        <p class="list-group-item-text">
                            @comment.Content
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

