@model IEnumerable<IFSolutions.Models.Petition>

@using IFSolutions.Models

@{
    if (ViewBag.Solved)
    {
        ViewBag.DivClass = "panel panel-success";
        ViewBag.Glyphicon = "glyphicon glyphicon-ok-circle";
        ViewBag.Title = "Explore - Solved";
    }
    else
    {
        ViewBag.DivClass = "panel panel-danger";
        ViewBag.Glyphicon = "glyphicon glyphicon-remove-circle";
        ViewBag.Title = "Explore - To Be Solved";
    }
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<form class="form-inline">
    <div class="form-group">
        <label for="campusDropDown" class="sr-only">Campus: </label>
        @Html.DropDownList("campusID", (IEnumerable<SelectListItem>)ViewBag.CampiList, "- Campus -",
                new { @class = "form-control", @id = "campusDropDown" })
    </div>
    <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
    </button>
</form>

<hr />
@foreach (var petition in Model)
{
    <div class="@ViewBag.DivClass">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="@ViewBag.Glyphicon" aria-hidden="true"></span>
                @Html.ActionLink(petition.Title, "Details", new { id = petition.PetitionID })
            </h3>
        </div>
        <div class="panel-body">
            <p>
                @petition.Description
            </p>
            <p>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> @petition.Signatures.Count
                <span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-left: 10px"></span> @petition.Comments.Count
            </p>
            <hr />
            <strong>Student: </strong>@petition.User.FirstName @petition.User.LastName ||
            <strong>@Html.DisplayNameFor(m => m.FirstOrDefault().DateCreated): </strong>@petition.DateCreated
        </div>
    </div>
}